<body>
    <div class="container-fluid program py-5 " >
        <h1 class="mb-0 text-center" style="color: #b71c1c;">OUR PROGRAMS</h1>
    <div class="container mt-5">
        <div class="row g-4">
            <div class="col-md-3 " *ngFor="let program of programs">
                <div class="card">

                    <img [src]="program.imagePath"  alt="{{ program.programName }}">
                    <a  class="btn btn-outline-danger mt-2">Rs.{{ program.cost }}</a>
                    <div class="card-body">
                        <h5 class="card-title">{{ program.programName }}</h5>

                        <p class="card-text">{{ program.description }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

</body>



