<div class="container-fluid">
    <div class="mb-5 p-3 shadow rounded">
      <div class="row mb-4" [ngStyle]="{'background-color': isLightTheme? 'white': '#1e2125'}">
        <h4 class="fw-bold mb-4" [ngStyle]="{'color': isLightTheme ? '#b71c1c' : 'white'}">
          Workout Plan Management
        </h4>
  
        <div class="col-12 col-md-6" >
          <input type="text" [(ngModel)]="searchText" class="search-input" placeholder="Search by Name, Type">
        </div>
  
  
        <div class="col-12 col-md-6 text-md-end mt-3 mt-md-0">
          <button type="button" class="btn btn-success" (click)="openModalWithClass(workoutPlanForm)">Add
            Workout Plan</button>
        </div>
      </div>
  
  
      <div class="training-program-grid">
        <mat-card class="example-card training-program-card" appearance="outlined"
        [ngStyle]="{'background-color' : isLightTheme? 'white' : '#343a40'}"
          *ngFor="let plan of workoutPlans | workoutPlanFilter: searchText">
          <mat-card-header [ngStyle]="
          {'background-color' : isLightTheme? '#f5f5f5' : '#343a40',
            'color': isLightTheme? '#888': 'white'
          }">
            <mat-card-title>{{ plan.name }}</mat-card-title>
            <mat-card-subtitle [ngStyle]="
            {'color': isLightTheme? '#888': 'white'}">
            Workout Plan ID: {{ plan.workoutPlanId }}</mat-card-subtitle>
          </mat-card-header>
  
          <mat-card-content >
            <p [ngStyle]="{'color': isLightTheme? 'black': 'white'}"><strong>Name:</strong> {{ plan.name }}</p>
            <p [ngStyle]="{'color': isLightTheme? 'black': 'white'}"><strong>RepsCount:</strong> {{ plan.repsCount }}</p>
            <p [ngStyle]="{'color': isLightTheme? 'black': 'white'}"><strong>Weight:</strong> {{ plan.weight }}</p>
           
              <!-- <img mat-card-image [src]="fullImgPath + program.imagePath" alt="Program Image" class="image-fluid"/> -->
            
          </mat-card-content>
  
          <mat-card-actions >
            <button [ngStyle]="{'color': isLightTheme? 'black': 'white'}" mat-button (click)="onEdit(plan.workoutPlanId)"> <i class="bi bi-pencil"></i> Edit</button>
            <button [ngStyle]="{'color': isLightTheme? 'black': 'white'}" mat-button (click)="openModal(deleteModal, plan.workoutPlanId)"> <i class="bi bi-trash"></i>
              Delete</button>
          </mat-card-actions>
        </mat-card>
      </div>
  
    </div>
  </div>
  
  <ng-template #deleteModal>
    <div class="modal-body text-center">
      <p>
        All information associated to <span class="text-primary">{{name}}</span> will be deleted. <br>
        <span class="text-danger fw-bold"> Do you want to Delete</span> <br>
        <small class="text-danger">(This operation can not be undone.)</small>
      </p>
      <!-- <p class="text-danger"></p> -->
      <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary" (click)="confirm()">Yes</button>
      <button type="button" class="btn btn-danger" (click)="decline()">No</button>
    </div>
    </div>
  </ng-template>
  
  <ng-template #workoutPlanForm>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Edit workout Plan</h4>
      <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="workoutForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <!-- Program Name Field -->
          <div class="col-12 col-md-6">
            <div class="form-group">
              <div class="input-wrapper">
                <input type="text" id="name" formControlName="name" class="form-control" placeholder="Workout plan">
                <label for="name" class="floating-label" [ngStyle]="{ 'background-color': getLabelBackground() }">
                  Workout Plan
                </label>
              </div>
            </div>
          </div>
  
          <!-- RepsCount Field -->
          <div class="col-12 col-md-6">
            <div class="form-group">
              <div class="input-wrapper">
                <input type="number" id="repsCount" formControlName="repsCount" class="form-control" placeholder="">
                <label for="repsCount" class="floating-label" [ngStyle]="{ 'background-color': getLabelBackground() }">
                  RepsCount
                </label>
              </div>
            </div>
          </div>
  
          <!-- Weight Field -->
          <div class="col-12 col-md-6">
            <div class="form-group">
              <div class="input-wrapper">
                <input type="number" id="weight" formControlName="weight" class="form-control" placeholder="">
                <label for="weight" class="floating-label" [ngStyle]="{ 'background-color': getLabelBackground() }">
                  Weight
                </label>
              </div>
            </div>
          </div>
  
          <!-- MemberId Field -->
          <div class="col-12 col-md-6">
            <div class="form-group">
              <div class="input-wrapper">
                <input type="number" id="MemberId" formControlName="MemberId" class="form-control" placeholder="">
                <label for="MemberId" class="floating-label" [ngStyle]="{ 'background-color': getLabelBackground() }">
                  MemberId
                </label>
              </div>
            </div>
          </div>
        </div>
  
        <!-- Modal Footer with Buttons -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="modalRef?.hide()">Cancel</button>
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>
  </ng-template>
  
  
  <!-- <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
  </ngx-spinner> -->
