.form-group {
    margin: 15px 0px;
  }
  
  .input-wrapper {
    position: relative;
    margin-top: 20px;
  }
  
 
  .form-control {
    padding: 10px;
    padding-top: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background: transparent;
  }
  
  
  .floating-label {
    position: absolute;
    left: 10px;
    top: 10px;
    color: #999;
    font-size: 16px;
    pointer-events: none;
    border-radius: 5px;
    transition: all 0.3s ease;
    padding-left: 5px;
    padding-right: 5px;
  }
  

  .form-control:focus+.floating-label,
  .form-control:not(:placeholder-shown)+.floating-label {
    top: -10px;
    left: 10px;
    font-size: 15px;
    color: #007bff;
    border-radius: 7px;
    z-index: 1;
  }
  

  .form-control::placeholder {
    /* color: transparent; */
  }
  
 
  .form-control:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);

  }
