<section id="content">
    <div class="row">
        <div class="col-12 p-5 pt-0 pt-md-3  rounded shadow">
            <div class="header-section" [ngStyle]="{'background-color': isLightTheme? 'white': '#1e2125'}">
                <h4 class="fw-bold mb-4" [ngStyle]="{'color': isLightTheme ? '#b71c1c' : 'white'}">
                    Change Program Enroll
                </h4>

                <!-- Selection Form Group -->
                <div class="row mb-4 ">
                    <div class="col-12 col-md-3">


                        <div class="c mt-2">
                            <input type="text" class="form-control  mb-3" [(ngModel)]="searchText"
                                placeholder="Search programs by Name or Type...">
                        </div>

                        <!-- <div *ngIf="enrolledPrograms.length!=0" class="col-4 col-md-2 pe-0 me-0 me-md-5 pe-md-5">
                            
                            <select  class="form-select" [(ngModel)]="selectedMonth"
                                (change)="onMonthChange()">
    
                                <option value="" disabled selected>Select a month</option>
                                <option *ngFor="let month of months" [value]="month.id">
                                    {{ month.name }}
                                </option>
                            </select>
                        </div> -->

                        <!-- <div class="col-4 d-block d-md-none">
                        <input type="text" class="form-control mb-3" [(ngModel)]="searchText"
                            placeholder="Search programs...">
                        </div> -->
                    </div>



                    <div class="payment-card col-12 col-md-4 ms-3 mt-2  d-flex justify-content-between d-md-block">

                        <div class="mb-0 mb-md-3  ">
                            <p><strong class="text-primary">Total Monthly Payment:</strong> <span
                                    [ngStyle]="{'color': isLightTheme? '#4a4a4a': 'white'}">{{" Rs. "+
                                    totalPayment}}</span>

                            </p>
                            <div>

                                <p *ngIf="additionalPayment!=0"><strong class="text-primary">Current Payment:</strong>
                                    <span [ngStyle]="{'color': isLightTheme? '#4a4a4a': 'white'}">
                                        {{" Rs. " + additionalPayment }}</span> <br>
                                    <em><small class="text-danger">(For Remaining <span>{{remainingDays }} Days)</span>
                                        </small> </em>
                                </p>

                            </div>

                        </div>


                    </div>

                    <div class="col-12 col-md-4 mt-md-0 ms-lg-5 ps-lg-0 ps-xl-5">

                        <!-- <input type="text" class="form-control mb-3" [(ngModel)]="searchText" placeholder="Search programs..."> -->
                        <form [formGroup]="paymentForm" (ngSubmit)="openModal(confirmModal)">

                            <div class="form-group">
                                <div *ngIf="newlySelectedPrograms.length!=0" class="input-wrapper">
                                    <!-- Input field for Payment Receipt -->
                                    <input id="paymentReceipt" formControlName="paymentReceipt" type="text"
                                        class="form-control" />

                                    <!-- Floating label for the input -->
                                    <label for="paymentReceipt" class="floating-label"
                                        [ngStyle]="{ 'background-color': getLabelBackground() }">
                                        Payment Receipt Number
                                        <span *ngIf="isRequired('paymentReceipt')" class="text-danger">*</span>
                                    </label>

                                    <!-- Validation error message -->
                                    <div *ngIf="paymentForm.get('paymentReceipt')?.invalid && paymentForm.get('paymentReceipt')?.touched"
                                        class="text-danger">
                                        <div *ngIf="paymentForm.get('paymentReceipt')?.hasError('required')">
                                            Payment Receipt Number is required.
                                        </div>
                                    </div>
                                </div>



                            </div>
                            <div class="col-12 mt-3">
                                <button type="submit" class="btn btn-success" [disabled]="paymentForm.invalid && leavingPrograms.length==0">
                                    <i class="bi bi-file-earmark-plus"></i>
                                    Enroll
                                </button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>

            <!-- Program Selection Sections -->
            <div class="row g-4 mb-4">
                <div *ngFor="let type of programTypes" class="col-12 col-md-6 col-lg-4">
                    <div class="program-section card h-100">
                        <div class="card-header d-flex align-items-center justify-content-between"
                            style="height: 60px;">
                            <h3 class="h5 mb-0 text-truncate text-success fw-bolder">{{ type.typeName }} Programs</h3>
                        </div>
                        <div class="card-body">
                            <!-- Show Programs if Available or Display Message -->
                            <div *ngIf="(programsByType | filterProgram: searchText)[type.typeId]?.length">
                                <div *ngFor="let program of (programsByType | filterProgram: searchText)[type.typeId]"
                                    class="mb-2">
                                    <label class="program-checkbox form-check-label">
                                        <input type="checkbox" class="form-check-input me-2"
                                            [checked]="enrolledProgramsByType[type.typeId] && enrolledProgramsByType[type.typeId].includes(program.programId)"
                                            (change)="onProgramSelectionChange( program.programId, $event)">
                                        {{ program.programName + " - Rs. " + program.cost }}
                                    </label>
                                </div>
                            </div>
                            <div *ngIf="!programsByType[type.typeId]?.length" class="text-muted">
                                Currently no programs available for this type.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <ng-template #confirmModal>
        <div class="modal-body text-center">
            <p>
                <span class="text-primary">Are you sure you want to proceed with program updating ?</span>
            </p>

            <div class="modal-footer">
                <button type="button" class="btn btn-success" (click)="confirm()">Yes</button>
                <button type="button" class="btn btn-outline-danger" (click)="decline()">No</button>
            </div>
        </div>
    </ng-template>

    <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="true">
        <p style="color: white"> Loading... </p>
    </ngx-spinner>
</section>