<h4 class="fw-bold" [ngStyle]="{'color': isLightTheme ? '#b71c1c' : 'white'}">
    Member Request For Approval
</h4>

<div class="col-12 col-md-6 d-flex align-items-center mt-5">
    <button type="button" class="btn btn-secondary ms-2">Pending Approvals</button>
    <button type="button" class="btn btn-secondary ms-2">Reviewed Approvals</button>
</div>

<div class="mt-4">
    <table class="table table-hover table-bordered text-center">
        <thead>
            <tr>
                <th scope="col">Approval Request ID</th>
                <th scope="col">Requested Member</th>
                <th scope="col">Approval Type</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>