/*** Footer Start ***/
.footer {
    background: #151a1f; /* Dark background for footer */
}

.footer .footer-item a {
    line-height: 35px;
    color: #ddd;
    transition: 0.5s;
}

.footer .footer-item p {
    line-height: 35px;
    color: #bbb;
}

.footer .footer-item a:hover {
    letter-spacing: 1px;
    color: orangered; /* Primary color on hover */
}
.insta{
	color:rgb(205, 30, 88);
}

.footer .footer-item .footer-btn a,
.footer .footer-item .footer-btn a i {
    transition: 0.5s;
}

.footer .footer-item .footer-btn a:hover {
    background: #fff;
}

.footer .footer-item .footer-btn a:hover i {
    color: #0d6efd !important;
}

.list-unstyled li a{
    text-decoration: none;
}

.nav-link:hover {
    text-decoration: underline;
}


.nav-link.active {
    text-decoration: underline;
}



