<section id="content">
    <h4 class="fw-bold" [ngStyle]="{'color': isLightTheme ? '#b71c1c' : 'white'}">
        Branch Management
    </h4>  
    
    <div id="addBranchCard">
        <div class="container">
        <div class="row">
            <div>
                <!-- <button mat-button id="add-row" > <i class="bi bi-plus-square"></i> Add Branch</button> -->
                <button class="btn btn-success mt-2 mb-3" (click)="openModalWithClass(branchormTemplate)"><i class="bi bi-plus-square"></i> Add Branch</button>
            </div>            
            <div class=" branch-grid">
                <div class="row">
                    <div class="col-12 col-md-4" *ngFor="let branch of branches">
                      <div class="card shadow-sm mb-4">
                        <div class="card-header d-flex align-items-center">
                          <div class="avatar me-3">
                            <!-- You can add an image for the avatar -->
                            <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" class="rounded-circle" alt="Avatar" width="40" height="40">
                          </div>
                          <div>
                            <h5 class="card-title mb-0">{{ branch.branchName }}</h5>
                            <small class="text-muted">Branch Id: {{ branch.branchId }}</small>
                          </div>
                        </div>
                        
                        <div class="card-body">
                          <p class="card-text">
                            <strong>Admin:</strong> 
                            {{ branch.branchAdminId === "0" ? 'No Admin' : branch.adminName + " [ ID: " + branch.branchAdminId + " ]" }}
                          </p>
                          <p class="card-text">Active Members: {{ branch.activeMembers }}</p>
                          <p class="card-text">Leaved Members: {{ branch.leavedMembers }}</p>
                          <p class="card-text"><strong>Address:</strong></p>
                          <p class="card-text">
                            {{ branch.address?.street }},
                            {{ branch.address?.city }},
                            {{ branch.address?.province }},
                            {{ branch.address?.country }}
                          </p>
                        </div>
                  
                        <div class="card-footer text-end">
                          <button class="btn btn-outline-primary" (click)="onEdit(branch.branchId)">
                            <i class="bi bi-pencil"></i> Edit
                          </button>
                          <button class="btn btn-outline-danger ms-2" (click)="openModal(deleteTemplate, branch.branchId)">
                            <i class="bi bi-trash"></i> Delete
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  
            </div>
        </div>
    </div>
    </div>
</section>

<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>


<ng-template #deleteTemplate>
    <div class="modal-body text-center">
        <p>
          All information associated to the Branch<span class="text-primary"></span> will be deleted. <br>
          <span class="text-danger fw-bold"> Do you want to Delete</span> <br>
          <small class="text-danger">(This operation can not be undone.)</small>
        </p>
        <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="confirm()">Yes</button>
        <button type="button" class="btn btn-danger" (click)="decline()">No</button>
      </div>
      </div>
</ng-template>

<ng-template #branchormTemplate>
    <div class="modal-header">
      <h4 class="modal-title pull-left  {{branchId ==0 ? 'text-success' : 'text-warning'}}">{{branchId ==0 ? 'Add New Branch': 'Edit Branch'}}</h4>
      <button type="button" class="close btn-close pull-right" aria-label="Close" (click)="modalRef?.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="branchForm" (ngSubmit)="onCreateBranch()">
            <div class="row">
              <!-- Branch Name -->
              <div class="col-12 col-md-6">
                <div class="form-group">
                  <div class="input-wrapper">
                    <input type="text" id="branchName" formControlName="branchName" class="form-control" />
                    <label for="branchName" class="floating-label" [ngStyle]="{ 'background-color': getLabelBackground() }">
                      Branch Name <span *ngIf="isRequired('branchName')" class="text-danger">*</span>
                    </label>
                  </div>
                  <div *ngIf="branchForm.get('branchName')?.invalid && branchForm.get('branchName')?.touched" class="text-danger">
                    <div *ngIf="branchForm.get('branchName')?.hasError('required')">Branch Name is required.</div>
                  </div>
                </div>
              </div>
          
              <!-- Branch Admin ID -->
              <div class="col-12 col-md-6">
                <div class="form-group">
                  <div class="input-wrapper">
                    <input type="text" id="branchAdminId" formControlName="branchAdminId" class="form-control" />
                    <label for="branchAdminId" class="floating-label" [ngStyle]="{ 'background-color': getLabelBackground() }">
                      Branch Admin ID <span *ngIf="isRequired('branchAdminId')" class="text-danger">*</span>
                    </label>
                  </div>
                  <div *ngIf="branchForm.get('branchAdminId')?.invalid && branchForm.get('branchAdminId')?.touched" class="text-danger">
                    <div *ngIf="branchForm.get('branchAdminId')?.hasError('required')">Branch Admin ID is required.</div>
                  </div>
                </div>
              </div>
          
              <!-- Address Section -->
              <div formGroupName="address" class="col-12">
                <div class="form-group">
                  <label class="text-muted">Address</label>
                  <div class="row">
                    <div class="col-12 col-md-6">
                      <div class="form-group">
                        <div class="input-wrapper">
                          <input id="street" formControlName="street" class="form-control" />
                          <label for="street" class="floating-label" [ngStyle]="{ 'background-color': getLabelBackground() }">
                            Street <span *ngIf="isRequired('address.street')" class="text-danger">*</span>
                          </label>
                        </div>
                        <div *ngIf="branchForm.get('address.street')?.invalid && branchForm.get('address.street')?.touched" class="text-danger">
                          <div *ngIf="branchForm.get('address.street')?.hasError('required')">Street is required.</div>
                        </div>
                      </div>
                    </div>
          
                    <div class="col-12 col-md-6">
                      <div class="form-group">
                        <div class="input-wrapper">
                          <input id="city" formControlName="city" class="form-control" />
                          <label for="city" class="floating-label" [ngStyle]="{ 'background-color': getLabelBackground() }">
                            City <span *ngIf="isRequired('address.city')" class="text-danger">*</span>
                          </label>
                        </div>
                        <div *ngIf="branchForm.get('address.city')?.invalid && branchForm.get('address.city')?.touched" class="text-danger">
                          <div *ngIf="branchForm.get('address.city')?.hasError('required')">City is required.</div>
                        </div>
                      </div>
                    </div>
          
                    <div class="col-12 col-md-6">
                      <div class="form-group">
                        <div class="input-wrapper">
                          <input id="province" formControlName="province" class="form-control" />
                          <label for="province" class="floating-label" [ngStyle]="{ 'background-color': getLabelBackground() }">
                            Province <span *ngIf="isRequired('address.province')" class="text-danger">*</span>
                          </label>
                        </div>
                        <div *ngIf="branchForm.get('address.province')?.invalid && branchForm.get('address.province')?.touched" class="text-danger">
                          <div *ngIf="branchForm.get('address.province')?.hasError('required')">Province is required.</div>
                        </div>
                      </div>
                    </div>
          
                    <div class="col-12 col-md-6">
                      <div class="form-group">
                        <div class="input-wrapper">
                          <input id="country" formControlName="country" class="form-control" />
                          <label for="country" class="floating-label" [ngStyle]="{ 'background-color': getLabelBackground() }">
                            Country <span *ngIf="isRequired('address.country')" class="text-danger">*</span>
                          </label>
                        </div>
                        <div *ngIf="branchForm.get('address.country')?.invalid && branchForm.get('address.country')?.touched" class="text-danger">
                          <div *ngIf="branchForm.get('address.country')?.hasError('required')">Country is required.</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          
          
              <!-- Submit Button -->
              <div class="col-12">
                <div class="form-group">
                  <button type="submit" class="btn {{branchId==0? ' btn-success' : ' btn-warning'}}" [disabled]="!branchForm.valid">{{branchId==0? 'Create Branch' : 'Update Branch'}}</button>
                </div>
              </div>
            </div>
          </form>
          
    </div>
  </ng-template>
