<div class="container-fluid">
    <h4 class="fw-bold mb-4" [ngStyle]="{'color': isLightTheme ? '#b71c1c' : 'white'}">
      {{userRole==='superAdmin' ? 'Staff Management ' : 'Trainer Management'}}
    </h4>
    <div class="shadow mb-5 rounded p-3">
      <div class="row mb-3">
  
        <div class="col-12 col-md-6 d-flex align-items-center">
          
          <input type="text" [(ngModel)]="searchText" class="search-input w-50" placeholder="Search by Name, Email, NIC">
          <!-- <button type="button" class="btn btn-secondary ms-2">Search</button> -->
        </div>
  
  
        <div class="col-12 col-md-6 text-md-end mt-3 mt-md-0">
          <!-- <button type="button" class="btn btn-success">Add New staff</button> -->
          <button type="button" class="btn btn-success" (click)="openModalWithClass(staffFormTemplate)"> Add New staff</button>
        </div>
      </div>
  
      <div class="container">
        <table class="table table-hover table-bordered text-center">
          <thead>
            <tr>
              <th scope="col">Staff Id</th>
              <th scope="col">Staff Name</th>
              <th scope="col">Contact Number</th>
              <th scope="col">Branch</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody >
            <tr *ngFor="let staff of staffs | staffFilter:searchText">
              <td class="d-flex justify-content-around align-items-center">
                <img
                  [src]="(staff.imagePath ? fullImgPath + staff.imagePath : '../../../../../assessts/user-avatar-male-5.png')"
                  alt="Profile Image" width="50px" class="profile-image" /> 
                S00{{ staff.staffId }}</td>
              <td>{{ staff.firstName + "-" + staff.lastName }}</td>
  
              <td> {{staff.phone}} </td>
              <td>{{ staff.branchId }}</td>
              <td class="">
                <button type="button" class="btn btn-warning me-3" (click)="editstaff(staff.staffId)">
                  <i class="bi bi-pencil-square"></i>
                </button>
                <button type="button" class="btn btn-danger" (click)="openModal(deleteModal,staff.staffId)">
                  <i class="bi bi-trash3"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
            <!-- Angular Material Pagination -->
            <mat-paginator [ngStyle]="{'background-color': isLightTheme? 'white': '#1e2125'}" [length]="totalRecords" [pageSize]="pageSize" [pageIndex]="pageIndex"
            (page)="onPageChange($event)" class="custom-paginator">
          </mat-paginator>
    </div>
  
  </div>
  
  
  <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
  
  
  <ng-template #deleteModal>
    <div class="modal-body text-center">
      <p>
        All information associated to <span class="text-primary">{{staffName}}</span> will be deleted. <br>
        <span class="text-danger fw-bold"> Do you want to Delete</span> <br>
        <small class="text-danger">(This operation can not be undone.)</small>
      </p>
      <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary" (click)="confirm()">Yes</button>
      <button type="button" class="btn btn-danger" (click)="decline()">No</button>
    </div>
    </div>
  </ng-template>
  
  
  
  <ng-template #staffFormTemplate>
    <div class="modal-header">
      <h4 class="modal-title pull-left  {{staffId ==0 ? 'text-success' : 'text-warning'}}">{{staffId ==0 ? 'Add New staff': 'Edit staff'}}</h4>
      <button type="button" class="close btn-close pull-right" aria-label="Close" (click)="modalRef?.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="staffForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <!-- First Name -->
          <div class="col-12 col-md-6">
            <div class="form-group">
              <div class="input-wrapper">
                <input id="firstName" formControlName="firstName" class="form-control" placeholder="" />
                <label for="firstName" class="floating-label" [ngStyle]="{ 'background-color': getLabelBackground() }">First Name <span *ngIf="isRequired('firstName')"
                    class="text-danger">*</span></label>
              </div>
              <div *ngIf="staffForm.get('firstName')?.invalid && staffForm.get('firstName')?.touched"
                class="text-danger">
                <div *ngIf="staffForm.get('firstName')?.hasError('required')">First name is required.</div>
              </div>
            </div>
          </div>
  
          <!-- Last Name -->
          <div class="col-12 col-md-6">
            <div class="form-group">
              <div class="input-wrapper">
                <input id="lastName" formControlName="lastName" class="form-control" placeholder="" />
                <label for="lastName" class="floating-label" [ngStyle]="{ 'background-color': getLabelBackground() }">Last Name <span *ngIf="isRequired('lastName')"
                    class="text-danger">*</span></label>
              </div>
              <div *ngIf="staffForm.get('lastName')?.invalid && staffForm.get('lastName')?.touched" class="text-danger">
                <div *ngIf="staffForm.get('lastName')?.hasError('required')">Last name is required.</div>
              </div>
            </div>
          </div>
  
          <!-- Email -->
          <div class="col-12 col-md-6">
            <div class="form-group">
              <div class="input-wrapper">
                <input id="email" formControlName="email" type="email" class="form-control" placeholder="" />
                <label for="email" class="floating-label" [ngStyle]="{ 'background-color': getLabelBackground() }">Email <span *ngIf="isRequired('email')"
                    class="text-danger">*</span></label>
              </div>
              <div *ngIf="staffForm.get('email')?.invalid && staffForm.get('email')?.touched" class="text-danger">
                <div *ngIf="staffForm.get('email')?.hasError('required')">Email is required.</div>
                <div *ngIf="staffForm.get('email')?.hasError('email')">Please enter a valid email address.</div>
              </div>
            </div>
          </div>
  
          <!-- NIC -->
          <div class="col-12 col-md-6">
            <div class="form-group">
              <div class="input-wrapper">
                <input id="nic" formControlName="NIC" class="form-control" placeholder="" />
                <label for="nic" class="floating-label" [ngStyle]="{ 'background-color': getLabelBackground() }">NIC <span *ngIf="isRequired('NIC')"
                    class="text-danger">*</span></label>
              </div>
              <div *ngIf="staffForm.get('NIC')?.invalid && staffForm.get('NIC')?.touched" class="text-danger">
                <div *ngIf="staffForm.get('NIC')?.hasError('required')">NIC is required.</div>
                <div *ngIf="staffForm.get('NIC')?.hasError('pattern')">NIC must be 12 digits or 9 digits with 'x' or 'v'
                  at the end.</div>
              </div>
            </div>
          </div>
  
          <!-- Phone -->
          <div class="col-12 col-md-6">
            <div class="form-group">
              <div class="input-wrapper">
                <input id="phone" formControlName="phone" class="form-control" placeholder="" />
                <label for="phone" class="floating-label" [ngStyle]="{ 'background-color': getLabelBackground() }">Phone <span *ngIf="isRequired('phone')"
                    class="text-danger">*</span></label>
              </div>
              <div *ngIf="staffForm.get('phone')?.invalid && staffForm.get('phone')?.touched" class="text-danger">
                <div *ngIf="staffForm.get('phone')?.hasError('required')">Phone number is required.</div>
                <div *ngIf="staffForm.get('phone')?.hasError('pattern')">Phone number must be 10 digits.</div>
              </div>
            </div>
          </div>
  
          <!-- Date of Birth -->
          <div class="col-12 col-md-6">
            <div class="form-group">
              <div class="input-wrapper">
                <input id="dob" formControlName="doB" type="text" class="form-control" bsDatepicker
                  placeholder="Datepicker" />
                <label for="doB" class="floating-label" [ngStyle]="{ 'background-color': getLabelBackground() }">Date of Birth <span *ngIf="isRequired('doB')"
                    class="text-danger">*</span></label>
              </div>
              <div *ngIf="staffForm.get('doB')?.invalid && staffForm.get('doB')?.touched" class="text-danger">
                <div *ngIf="staffForm.get('doB')?.hasError('required')">Date of birth is required.</div>
                <div *ngIf="staffForm.get('doB')?.hasError('pastDate')">Date of birth must be in the past.</div>
              </div>
            </div>
          </div>
  
          <!-- Emergency Contact Name -->
          <div class="col-12 col-md-6">
            <div class="form-group">
              <div class="input-wrapper">
                <input id="emergencyContactName" formControlName="emergencyContactName" class="form-control"
                  placeholder="" />
                <label for="emergencyContactName" class="floating-label" [ngStyle]="{ 'background-color': getLabelBackground() }">Emergency Contact Name <span
                    *ngIf="isRequired('emergencyContactName')" class="text-danger">*</span></label>
              </div>
              <div
                *ngIf="staffForm.get('emergencyContactName')?.invalid && staffForm.get('emergencyContactName')?.touched"
                class="text-danger">
                <div *ngIf="staffForm.get('emergencyContactName')?.hasError('required')">Emergency contact name is
                  required.</div>
              </div>
            </div>
          </div>
  
          <!-- Emergency Contact Number -->
          <div class="col-12 col-md-6">
            <div class="form-group">
              <div class="input-wrapper">
                <input id="emergencyContactNumber" formControlName="emergencyContactNumber" class="form-control"
                  placeholder="" />
                <label for="emergencyContactNumber" class="floating-label" [ngStyle]="{ 'background-color': getLabelBackground() }">Emergency Contact Number <span
                    *ngIf="isRequired('emergencyContactNumber')" class="text-danger">*</span></label>
              </div>
              <div
                *ngIf="staffForm.get('emergencyContactNumber')?.invalid && staffForm.get('emergencyContactNumber')?.touched"
                class="text-danger">
                <div *ngIf="staffForm.get('emergencyContactNumber')?.hasError('required')">Emergency contact number is
                  required.</div>
                <div *ngIf="staffForm.get('emergencyContactNumber')?.hasError('pattern')">Emergency contact number must
                  be 10 digits.</div>
              </div>
            </div>
          </div>
  
  
          <!-- Address Section -->
          <div formGroupName=address class="col-12">
            <div class="form-group">
              <label class="text-muted">Address</label>
  
              <!-- Street -->
              <div class="row">
                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <div class="input-wrapper">
                      <input id="street" formControlName="street" class="form-control" placeholder="" />
                      <label for="street" class="floating-label" [ngStyle]="{ 'background-color': getLabelBackground() }">Street <span *ngIf="isRequired('address.street')"
                          class="text-danger">*</span></label>
                    </div>
                  </div>
                </div>
  
                <!-- City -->
                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <div class="input-wrapper">
                      <input id="city" formControlName="city" class="form-control" placeholder="" />
                      <label for="city" class="floating-label" [ngStyle]="{ 'background-color': getLabelBackground() }">City <span *ngIf="isRequired('address.city')"
                          class="text-danger">*</span></label>
                    </div>
                  </div>
                </div>
  
                <!-- Province -->
                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <div class="input-wrapper">
                      <input id="province" formControlName="province" class="form-control" placeholder="" />
                      <label for="province" class="floating-label" [ngStyle]="{ 'background-color': getLabelBackground() }">Province <span *ngIf="isRequired('address.province')"
                          class="text-danger">*</span></label>
                    </div>
                  </div>
                </div>
  
                <!-- Country -->
                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <div class="input-wrapper">
                      <input id="country" formControlName="country" class="form-control" placeholder="" />
                      <label for="country" class="floating-label" [ngStyle]="{ 'background-color': getLabelBackground() }">Country <span *ngIf="isRequired('address.country')"
                          class="text-danger">*</span></label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
          <div class="col-12">
            <div class="form-group">
              <label for="imageFile" class="text-muted" [ngStyle]="{ 'background-color': getLabelBackground() }">Profile Image <span *ngIf="isRequired('imageFile')"
                  class="text-danger">*</span></label>
              <input id="imageFile" type="file" (change)="onFileChange($event)" class="form-control" />
              <div *ngIf="staffForm.get('imageFile')?.invalid && staffForm.get('imageFile')?.touched"
                class="text-danger">
                <div *ngIf="staffForm.get('imageFile')?.hasError('required')">Profile image is required.
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-6">
            <div class="form-group">
              <div class="input-wrapper">
                <!-- Select dropdown for User Role -->
                <select id="userRole" formControlName="userRole" class="form-control">
                  <option value="" disabled selected>Select Role</option>
                  <option *ngIf="userRole==='superAdmin'"  value="1">SuperAdmin</option>
                  <option *ngIf="userRole==='superAdmin'" value="2">Admin</option>
                  <option  value="3">Trainer</option>
                </select>
                <label for="userRole" class="floating-label" [ngStyle]="{ 'background-color': getLabelBackground() }">
                  User Role <span *ngIf="isRequired('userRole')" class="text-danger">*</span>
                </label>
              </div>
          
              <!-- Validation errors for User Role -->
              <div *ngIf="staffForm.get('userRole')?.invalid && staffForm.get('userRole')?.touched" class="text-danger">
                <div *ngIf="staffForm.get('userRole')?.hasError('required')">User role is required.</div>
              </div>
            </div>
          </div>
          
  
          <!-- Submit Button -->
          <div class="col-12">
            <div class="form-group">
              <button type="submit" class="btn {{staffId ==0 ? 'btn-success' : 'btn-warning'}}">{{staffId ==0 ? 'Add staff': 'Edit staff'}}</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </ng-template>