

.bmi-section {
	background: #ffffff;
	position: relative;
  margin-top: 45px;
   
}

.bmi-bg {
	position: absolute;
	height: 100%;
	width: 40.5%;
	left: 0;
	top: 0;
}

.bmi-calculator-warp {
	background: #242424;
	padding: 48px 53px 40px;
	margin-top: 30px;
}

.bmi-calculator input {
	font-size: 16px;
	color: #505050;
}

.bmi-calculator input,
.bmi-calculator .site-btn {
	width: 100%;
	height: 57px;
	margin-bottom: 30px;
	padding: 0 24px;
	border: none;
	min-width: 100%;
}

.bmi-calculator p {
	color: #fff;
	font-style: italic;
	margin-bottom: 0;
	padding-top: 9px;
}

.bmi-section {
    padding: 40px 0;
}

.bmi-bg img {
    max-width: 640px;
    height: 662px;
    display: block;
    border-radius: 10px;
}

.section-title h2 {
    font-size: 28px;
    margin-bottom: 15px;
}

.section-title p {
    font-size: 16px;
    color: #666;
}

.site-btn {
    background-color: #b71c1c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.site-btn:hover {
    background-color: #ffffff;
    color: black;
}

@media (max-width: 768px) {
    .bmi-section .row {
        flex-direction: column;
    }

    .bmi-bg {
        margin-bottom:20px;
}
}
