/*** Button Start ***/
.btn {
    font-weight: 600;
    transition: .5s;
}

.btn-square {
    width: 32px;
    height: 32px;
}

.btn-sm-square {
    width: 34px;
    height: 34px;
}

.btn-md-square {
    width: 44px;
    height: 44px;
}

.btn-lg-square {
    width: 56px;
    height: 56px;
}

.btn-xl-square {
    width: 66px;
    height: 66px;
}

.btn-square,
.btn-sm-square,
.btn-md-square,
.btn-lg-square,
.btn-xl-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}
.btn-xl-square {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    
}

.btn-xl-square:hover {
    background-color: #f0f0f0;
    transform: scale(1.1);
}


.btn.btn-primary {
    color: var(--bs-white);
}

.btn.btn-primary:hover {
    background: var(--bs-secondary);
    border: 1px solid var(--bs-secondary);
}

/*** Contact End ***/
.faq-item {
    margin-bottom: 10px;
  }
  
  .faq-item .question {
    cursor: pointer;
    color: #007bff;
  }
  
  .faq-item .answer {
    padding-left: 20px;
    color: #555;
  }

  /* category carousel */
.category-carousel .contact-item {
    background: #FFFFFF;
    border: 1px solid #FBFBFB;
    box-shadow: 0px 5px 22px rgba(0, 0, 0, 0.04);
    border-radius: 16px;
    text-align: center;
    padding: 60px 20px;
    margin: 20px 0;
    transition: box-shadow 0.3s ease-out, transform 0.3s ease-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .category-carousel .contact-item:hover {
    transform: translate3d(0,-10px,0);
    box-shadow: 0px 21px 44px rgba(0, 0, 0, 0.08);
  }
  .category-carousel .contact-item .category-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #222222;
    margin-top: 20px;
  }
  .form-label-color{
    color: #555;
  }

