<div class="container mt-4" [class.blurred]="selectedMember">
  <div class="row g-3">
    <div class="col-12 col-md-6 col-lg-4 col-xl-2" *ngFor="let member of members">
      <div class="card member-card" style="border-color: #b71c1c;" (click)="openModal(member)">
        <div class="card-body text-center">
          <h5 class="card-title">Member Id : {{ member.memberId }}</h5>
          <h5 class="card-title">Name : {{ member.firstName }}</h5>
          <p class="card-text">Contact  : {{ member.phone }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal for Workouts -->
<div class="custom-modal" *ngIf="selectedMember">
  <div class="modal-content">
    <div class="modal-header">
      <h3 class="modal-title" style="color: #b71c1c;">{{ selectedMember.firstName }}'s Workouts</h3>
      <button class="close-btn" (click)="closeModal()">X</button>
    </div>
    <div class="modal-body" style="overflow: auto;">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Workout Plan</th>
            <th>Reps Count</th>
            <th>Weight</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Date</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let plan of selectedMember.workoutPlan">
            <ng-container *ngIf="plan.date === null">
              <td>{{ plan.name }}</td>
              <td>{{ plan.repsCount }}</td>
              <td>{{ plan.weight }}</td>
              <td><input type="time" [(ngModel)]="startTime"></td>
              <td><input type="time" [(ngModel)]="endTime"></td>
              <td><input type="datetime-local" [(ngModel)]="Day"></td>
              <td><button class="btn btn-success" (click)="UpdateTime(plan.workoutPlanId)">Submit</button></td>
            </ng-container>
          </tr>
          
        </tbody>
      </table>
    </div>
  </div>
</div>