<div class="container-fluid mt-5">
    <h4 class="fw-bold" [ngStyle]="{'color': isLightTheme ? '#b71c1c' : 'white'}">
        Program Management
    </h4>
    <div class="card-body shadow mb-5 bg-white rounded p-3">
      <div class="row mb-3">
     
        <div class="col-12 col-md-6 d-flex align-items-center">
          <input type="text" class="form-control w-50" placeholder="Search Program">
          <button type="button" class="btn btn-secondary ms-2">Search</button>
        </div>
  
       
        <div class="col-12 col-md-6 text-md-end mt-3 mt-md-0">
          <button type="button" class="btn btn-success">Add Program</button>
        </div>
      </div>
  
    
      <table class="table table-hover table-bordered text-center">
        <thead>
          <tr>
            <th scope="col">Program Id</th>
            <th scope="col">Program Name</th>
            <th scope="col">Program Type</th>
            <th scope="col">Program Cost</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
         
        </tbody>
      </table>
    </div>
  </div>
  

